@import url('btnStyle.css');
.osModal { visibility: hidden; opacity: 0; display: table; left: 0; top: 0; width: 100%; height: 100%; z-index: 2; background: rgba(0, 0, 0, 0.2); }
.osModal .osm-backclose { display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; }
.osModalOverflowBody { overflow: hidden !important; position: relative; }
.osModal .osm-box { position: absolute; display: block; margin: auto; width: 100%; height: 100%; max-height: 100%; padding: 12px; overflow: auto; top: 50%; left: 50%; transform: translate3d(-50%, -50%, 0); z-index: 2; }
.osModal .osm-box .osm-container { margin: 0 auto; border: 0; z-index: 2; position: relative; border-radius: 3px; height: 100%; }
.osModal .osm-box .osm-container .osm-content { height: 100%; }
.osModal .osm-box .osm-container .osm-header { margin-bottom: 6px; background: #fff; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, .2); height: 40px; line-height: 40px; }
.osModal .osm-box .osm-container .osm-article { height: calc(100% - 46px); }
.osModal .osm-box .osm-container .osm-article .osm-article-container { border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, .2); background-color: #fff; display: block; height: calc(100% - 74px); }
.osModal .osm-box .osm-container .osm-article .osm-article-container-scrolling { display: block; max-height: 100%; overflow: auto; }
.osModal .osm-box .osm-container .osm-article .osm-article-container-scrolling .osm-load { display: block; height: 100%; }
.osModal .osm-box .osm-container .osm-header .osm-h-left { float: left; }
.osModal .osm-box .osm-container .osm-header .osm-h-left .osm-h-icon,
.osModal .osm-box .osm-container .osm-header .osm-h-left .osm-h-icon:before { height: 40px; line-height: 40px; width: 40px; text-align: center; font-size: 22px; }
.osModal .osm-box .osm-container .osm-header .osm-h-left .osm-h-icon { float: left; }
.osModal .osm-box .osm-container .osm-header .osm-h-left .osm-h-title { padding-left: 10px; display: block; float: left; height: 40px; line-height: 40px; text-align: center; font-size: 16px; font-weight: 500; }
.osModal .osm-box .osm-container .osm-header .osm-h-right { float: right; }
.osModal .osm-box .osm-container .osm-header .osm-h-right .osm-h-closed,
.osModal .osm-box .osm-container .osm-header .osm-h-right .osm-h-closed a { font-size: 22px; display: block; height: 40px; line-height: 40px; width: 40px; text-align: center; }
.osModal .osm-box .osm-container .osm-header .osm-h-right .osm-h-closed a:hover { }
.osModal .osm-box .osm-container .osm-article .osm-article-buttons { box-shadow: 0 2px 4px rgba(0, 0, 0, .2); padding: 10px; margin-top: 6px; display: block; border-top: 1px solid #f9f9f9; background-color: #f0f0f0; border-radius: 3px; }
.osModal .osm-box .osm-container .osm-article .osm-article-buttons:after { display: block; content: ""; clear: both; }
.osModal .osm-box .osm-container .osm-article .osm-article-buttons .osm-buttons-left { float: left; display: flex; }
.osModal .osm-box .osm-container .osm-article .osm-article-buttons .osm-buttons-right { float: right; display: flex; }
.osModal .osm-box .osm-container .osm-article .osm-article-buttons .osm-yes { margin-right: 10px; }
.osModal.osm-alert .osm-box .osm-container .osm-article .osm-article-container { padding: 20px; line-height: 18px; }
.osModal .osm-box .osm-container .osm-article .osm-loaders { padding: 40px; display: block; text-align: center; font-size: 36px; }
.osModal .osm-box .osm-container .osm-article .osm-loaders .osm-progress { display: block; width: 100%; -webkit-pointer-events: none; pointer-events: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.osModal .osm-box .osm-container .osm-article .osm-loaders .osm-progress .osm-progress-activity { display: inline-block; width: 28px; height: 28px; border: solid 2px transparent; border-top-color: #eee; border-left-color: #eee; border-radius: 28px; -webkit-animation: osm-progress-spinner 400ms linear infinite; -moz-animation: osm-progress-spinner 400ms linear infinite; -ms-animation: osm-progress-spinner 400ms linear infinite; -o-animation: osm-progress-spinner 400ms linear infinite; animation: osm-progress-spinner 400ms linear infinite; }
.osModal .osm-box .osm-container .osm-article .osm-article-buttons .vdCounter.elclassico { margin-right: 10px; }
.osModal .osm-box .osm-container .osm-article .osm-article-container-scrolling .mCSB_container { height: 100%; }

.osModalStyle2.osModal .osm-box .osm-container .osm-header { margin-bottom: 6px; background: #fff; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, .2); height: 40px; line-height: 40px; transform: rotate(90deg); transform-origin: left top; position: absolute; left: 42px; top: 0; }
.osModalStyle2.osModal .osm-content { padding-left: 60px; }
.osModalStyle2.osModal .osm-box .osm-container .osm-article,
.osModalStyle2.osModal .osm-box .osm-container .osm-article .osm-article-container { height: 100%; }
.osModalStyle2.osModal .osm-box .osm-container .osm-article .osm-article-buttons { padding: 6px; background: #fff; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, .2); position: absolute; left: 2px; bottom: 0; border: 0; }
.osModalStyle2.osModal .osm-box .osm-container .osm-article .osm-article-buttons .osm-buttons-left,
.osModalStyle2.osModal .osm-box .osm-container .osm-article .osm-article-buttons .osm-buttons-right { display: block; float: none; }
.osModalStyle2.osModal .osm-box .osm-container .osm-article .osm-article-buttons .osm-buttons-left a,
.osModalStyle2.osModal .osm-box .osm-container .osm-article .osm-article-buttons .osm-buttons-right a { margin-bottom: 6px; width: 28px; height: 28px; padding: 0; line-height: 28px; text-align: center; }
.osModalStyle2.osModal .osm-box .osm-container .osm-article .osm-article-buttons .osm-buttons-right a:last-child { margin: 0; }

.osModalStyle3.osModal .osm-box .osm-container .osm-header { margin-bottom: 6px; background: #fff; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, .2); height: 40px; line-height: 40px; transform: rotate(-90deg); transform-origin: right top; position: absolute; right: 42px; top: 0; }
.osModalStyle3.osModal .osm-content { padding-right: 60px; }
.osModalStyle3.osModal .osm-box .osm-container .osm-article,
.osModalStyle3.osModal .osm-box .osm-container .osm-article .osm-article-container { height: 100%; }
.osModalStyle3.osModal .osm-box .osm-container .osm-article .osm-article-buttons { padding: 6px; background: #fff; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, .2); position: absolute; right: 0; bottom: 0; border: 0; }
.osModalStyle3.osModal .osm-box .osm-container .osm-article .osm-article-buttons .osm-buttons-left,
.osModalStyle3.osModal .osm-box .osm-container .osm-article .osm-article-buttons .osm-buttons-right { display: block; float: none; }
.osModalStyle3.osModal .osm-box .osm-container .osm-article .osm-article-buttons .osm-buttons-left a,
.osModalStyle3.osModal .osm-box .osm-container .osm-article .osm-article-buttons .osm-buttons-right a { margin-bottom: 6px; width: 28px; height: 28px; padding: 0; line-height: 28px; text-align: center; }
.osModalStyle3.osModal .osm-box .osm-container .osm-article .osm-article-buttons .osm-buttons-right a:last-child { margin: 0; }

@-webkit-keyframes osm-progress-spinner {
	0% { -webkit-transform: rotate(0); transform: rotate(0); }
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes osm-progress-spinner {
	0% { -moz-transform: rotate(0); transform: rotate(0); }
	100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes osm-progress-spinner {
	0% { -o-transform: rotate(0); transform: rotate(0); }
	100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes osm-progress-spinner {
	0% { -ms-transform: rotate(0); transform: rotate(0); }
	100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes osm-progress-spinner {
	0% { -moz-transform: rotate(0); -ms-transform: rotate(0); -o-transform: rotate(0); -webkit-transform: rotate(0); transform: rotate(0); }
	100% { -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

.osModal.primary .osm-box .osm-container .osm-header { border-color: #1e88e5; }
.osModal.success .osm-box .osm-container .osm-header { border-color: #33b86c; }
.osModal.info .osm-box .osm-container .osm-header { border-color: #29b6f6; }
.osModal.warning .osm-box .osm-container .osm-header { border-color: #ffd740; }
.osModal.danger .osm-box .osm-container .osm-header { border-color: #ef5350; }
.osModal.inverse .osm-box .osm-container .osm-header { border-color: #212121; }
.osModal.purple .osm-box .osm-container .osm-header { border-color: #7e57c2; }
.osModal.pink .osm-box .osm-container .osm-header { border-color: #ec407a; }
.osModal.primary .osm-box .osm-container .osm-header .osm-h-right .osm-h-closed a,
.osModal.primary .osm-box .osm-container .osm-header .osm-h-left .osm-h-icon { color: #1e88e5; }
.osModal.success .osm-box .osm-container .osm-header .osm-h-right .osm-h-closed a,
.osModal.success .osm-box .osm-container .osm-header .osm-h-left .osm-h-icon { color: #33b86c; }
.osModal.info .osm-box .osm-container .osm-header .osm-h-right .osm-h-closed a,
.osModal.info .osm-box .osm-container .osm-header .osm-h-left .osm-h-icon { color: #29b6f6; }
.osModal.warning .osm-box .osm-container .osm-header .osm-h-right .osm-h-closed a,
.osModal.warning .osm-box .osm-container .osm-header .osm-h-left .osm-h-icon { color: #ffd740; }
.osModal.danger .osm-box .osm-container .osm-header .osm-h-right .osm-h-closed a,
.osModal.danger .osm-box .osm-container .osm-header .osm-h-left .osm-h-icon { color: #ef5350; }
.osModal.inverse .osm-box .osm-container .osm-header .osm-h-right .osm-h-closed a,
.osModal.inverse .osm-box .osm-container .osm-header .osm-h-left .osm-h-icon { color: #212121; }
.osModal.purple .osm-box .osm-container .osm-header .osm-h-right .osm-h-closed a,
.osModal.purple .osm-box .osm-container .osm-header .osm-h-left .osm-h-icon { color: #7e57c2; }
.osModal.pink .osm-box .osm-container .osm-header .osm-h-right .osm-h-closed a,
.osModal.pink .osm-box .osm-container .osm-header .osm-h-left .osm-h-icon { color: #ec407a; }
